body {
    font-family: sans-serif;
    background-color: #333333;
}

h1, h2, h3, h4 {
    color: #FFFFFF;
}

h1, h2 {
    font-family: 'Georgia';
    serif; margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p, dd, dt {
    color: #CCCCCC;
    margin: 0;
}

a {
    text-decoration: none;
    color:#FFFFCC;
    font-size: .75em;
}

.app_title {
    text-align: center;
    font-size: 2em;
}

.pane {
    position: relative;
    width: 60%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px 5px 15px 5px;
    margin: 0 auto;
    border-color: #999999;
    background-color: #333333;
}

.header {
    left:50%;
    text-align: center;
}

.name {
    margin: 0;
    font-size: 18px;
    width:50%;
    display: inline-block;
    float: left;
    color: #FFFFCC;
}

.description {
    width: 100%;
    float: left;
    font-color: #CCCCCC;
    margin: 15px 0 5px 0;
}

.price {
    text-align: right;
    width:50%;
    float: right;
}

.edit_delete {
    display: inline;
    margin-bottom: 20px;
}

.name_price {
    display: inline;
}

.flash {
    background: #cee5F5;
}

