<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Elodie's Blog</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <div class="container">
      <a href="/blog" class="main-title">
        <p class="main-title">Elodie's Blog</p>
      </a>
      <div class="login-area">
      {% if user %}
        {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      {% else %}
        <a class="login-link" href="/login">login</a>
        |
        <a class="login-link" href="/signup">signup</a>
      {% endif %}
      </div>
    </div>
  </header>

  <main>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </main>

</body>

</html>

