{% extends "base.html" %}

{% block content %}
<div class="container_centered">
  <div class="login_container">
    <h2>Login</h2>
    <form method="post">
        <table>
          <tr>
            <td class="label">
              Username
            </td>
            <td>
              <input class="user_input" type="text" name="username" value="{{username}}">
            </td>
          </tr>

          <tr>
            <td class="label">
              Password
            </td>
            <td>
              <input class="user_input" type="password" name="password" value="">
            </td>
          </tr>
        </table>

        <div class="error">
          {{error}}
        </div>

        <input class="submit_button" type="submit">
      </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h2 class="text_centered">Not registered yet?</h2>
  <a class="signup_button" href="/signup">Signup</a>
</div>
{% endblock %}
