<!DOCTYPE html>

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Elodie's Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>

  <body>
    <h2 class="greeting_msg">Welcome, {{username}}!</h2>
    <a href="/blog" class="main-title">
      <button class="view_button" type="button">View Blog</button>
    </a>
  </body>

</html>
