@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}



body {
    color: white;
    background-color: #222222;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;

}

header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(51, 51, 51);

}

.container_centered {
    text-align: center;
}

.container {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    color: #f85658;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
}

table {
    border-spacing: 6px;
}

.label {
    text-align: right; font-size: 16px;
}

.error {
    color: #f85658;
}

.user_input {
    font-family: Quicksand, sans-serif;
    color: white;
    background-color: rgb(51, 51, 51);
    border-width: 1px;
    border-color: #BDBDBD;
}



.view_button,
.submit_button {
    padding: 0px 15px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #f85658;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #222222;
}


.newpost_button {
    padding: 10px 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #f85658;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 15px auto;
    display: block;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(51, 51, 51) inset;
    -webkit-text-fill-color: white !important;
    font-size: 14px;
}

.signup_container {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid grey;
    padding: 10px 15px 15px 15px;
    margin-top: 10%;
}

.login_container {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid grey;
    padding: 10px 15px 15px 15px;
    margin-top: 10%;
    text-align: center;
}

td {
    padding-right: 5px;
}

input {
    font-size: 14px;
}

.large_screen {
    text-align: center;
}

form {
    display: inline;
}

.button-form {
    width: 5%;
    margin-top: 3px;
    padding : 0 10px;
}

.small_screen {
    display: none;
}

.greeting_msg {
    font-size: 2.5em;
    text-align: center;
    margin: 50px;
}

.main-title {
    font-size: 1.5em;
    text-decoration: none;
    color: #f85658;
    margin: auto 0;
    width: 60%;
    display: inline;
}

.login-area {
    text-align: right;
    width: 40%;
    margin: auto 0;
    display: inline;

}

.text_centered {
    text-align: center;
    color: white;
    font-size: 1em;
    margin-bottom: 3%;

}

.signup_button,
.login_button {
    padding: 5px 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgb(51, 51, 51);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
    color: white;
}

.login-link {
    text-decoration: none;
    color: #f85658;
    font-size: 1.3em;
}

.link_newpost {
    text-decoration: none;
}

.post {
    width: 90%;
    margin: auto;
    padding: 10px 15px 15px 15px;
}

.post-heading {
    display: inline-block;
    width:100%;
    border-bottom: 1px solid grey;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.like_button:focus {
    outline:0;
}

.like_button {
    padding: 0 15px;
    border: none;
    background: #222222;
    float: right;
    margin-top: 5%;
    color: #f85658;
}



.comment_button {
    padding: 0px 15px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #f85658;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-top: 5%;
}


.post-date {
    color: #A0A0A0;
    margin-left: 2.5%;
    text-align: right;
    float: right;
}

.post-likes {
    color: #A0A0A0;
    margin-left: 2.5%;
    text-align: right;
    float: right;
}

.post-username {
    color: #A0A0A0;
    text-align: right;
    float: right;
}

.title-like {
    display: inline-flex;
    width: 100%;
    }


.post-title {
    color: #f85658;
    width: 80%;
    text-align: left;
    text-decoration: none;
}

.post-content {
    text-align: justify;

}


.textarea_title {
    width: 50%;

}

.textarea_content {
    width: 80%;
    height: 180px;

}

.number_comments {
    width: 90%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #f85658;
    padding-bottom: 5px;
    color: #f85658;
}

.edit_comment_container {
    margin: auto;
    width: 93%;

}


.edit_comment_button:focus {
    outline:0;
}

.edit_comment_button {
    padding: 0 15px;
    border: none;
    background: #222222;
    float: right;
    color: #f85658;
}
.button-form-edit-comment {
    width: 100%;
    margin-top: -30px;
    padding : 0 10px;
}


@media screen and (max-width: 500px) {
    .signup_container, .login_container {
        width: 90%;
        margin: auto;
        border: none;
        padding: 10px 15px 15px 15px;
        margin-top: 8%;
    }

    .label {
        font-size: 1.5em;
        text-align: left;
        margin: 0 0 5px 0;
    }

    .error {
        margin: 0 0 20px 0;
        text-align: left;
    }

    .user_input {
        font-size: 1.5em;
        width: 100%;
        height: 25px;
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-family: Quicksand, sans-serif;
        color: white;
        background-color: rgb(51, 51, 51);
        border-width: 1px;
        border-color: #BDBDBD;
    }


    table {
        border-spacing: 5px;
    }
    body {
        color: white;
        background-color: #222222;
        font-family: 'Quicksand', sans-serif;
    }

    .user_input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px rgb(51, 51, 51) inset;
        -webkit-text-fill-color: white !important;
        font-size: 1.5em;
    }

    h2 {
        font-size: 2.5em;
        color: #f85658;
        font-weight: 400;
        margin:0 0 25px 0;
        text-align: left;
    }

    .item {
        display: block;
    }

    .large_screen {
        display: none;
    }

    .small_screen {
       display: block;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    main {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }


    .container {
        width: 810px;
    }
}